<label>What's Your Choice of Language?</label>
<div class="form-group">
  <div class="radio">
      <label>
    <input type="radio" ng-model="formData.type" value="javascript" checked>
      I like Javascript
     </label>
 </div>
    <div class="radio">
      <label>
    <input type="radio" ng-model="formData.type" value="angular">
      I like AngularJS
     </label>
   </div>
    
</div>


<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.payment" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>