body{
    padding-top:20px;
}

#formcontainer{
    background-color:#2f2f2f;
    margin-bottom:20px;
    border-radius:5px;
    
}
#formcontainer .page-header{
    background-color:azure;
        margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px;
    box-shadow:5px 5px 2px #333;
}
#status-buttons a{
    color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; text-decoration:none;
}
#status-butons a:hover{
    text-decoration:none;
}
#status-buttons span{ 
    background:#080808; 
    display:block; 
    height:30px; 
    margin:0 auto 10px;
    padding-top:5px; 
    width:30px; 
    border-radius:50%;
}
#status-buttons a.active span   { background:#00BC8C; }


